<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/agate.min.css" />
  <link rel="stylesheet" href="../../css/blog-post.css" />
  <title>Blog List</title>
</head>
<body>
  <nav class="custom-navbar">
    <div class="left-navbar">
      <span><a href="/">Home</a></span>
      <span><a href="/about">About</a></li></span> 
    </div>
  </nav>
  <div class="markdown-post">
    <div class="markdown-body">
      ||blog-post||
    </div>
  </div>
  <div class="move-to-top" id="move-to-top">Top</div>
</body>
</html>